
  * {
    margin: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    font-size: inherit;
    background-color: inherit;
    border: inherit;
    padding: 0;
    font: inherit;
  }

  table, th, td {
      border: 1px solid #cbd6d6;
      border-collapse: collapse;
  }

  th {
    padding: 5px 0px;
    background-color: #cbd6d6;
    font-weight: bold;
  }

  /***New****/
  .buttons {
    display: grid;
  }

  .buttons-large {
    width: 100%;
    height: 300px;
  }

  .buttons-colors {
    background-color: #fdae41;
    color: white;
  }

  .buttons-colors2 {
    background-color: #35c3e3;
    color: white;
  }

  .text-title {
    font-size: 24px;
  }

  .text-header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }

  .nav-text {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }

  .nav-text--one {
    text-align: center;
    font-size: 1.2rem;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .table {
    width: 100%;
  }

  .table-container {
    margin-bottom: 10px;
  }

  .table-td {
    width: 30%;
  }

  .input {
    width: 100%;
  }

  .table-nav {
    margin-top: 30px;
  }

  input.nav-text {
    background-color: inherit;
    border: inherit;
}

  .form-spacing {
    padding: 0px 15px;
  }

  .form-textarea {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
  }

  .nav {
    width: 100%;
    display: flex;
    background-color: #cbd6d6;
    padding: 10px 0px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
  }

  .edit {
    border: none;
    color: #fdae41;
  }
