@media (max-width: 667px) {

  * {
    margin: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: none;
    background-color: inherit;
  }

  
  
  /*************************Terms_Style******************/
  .container {
    width: 100%;
    height: 300px;
    vertical-align: middle;
    margin: 0;
    display: table;
  }

  .container-high {
    background-color: #39A0ED;
  }

  .container-low {
    background-color: #36F1CD;
  }

  .title {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .title-high {
    color: #bce6ff;
  }

  .title-low {
    color: #006666;
  }

  .form-textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.500rem;
  }

  .button {
    background-color: #cbd6d6;
    width: 100%;
    display: flex;
    padding: 10px 0px;
  }

  .button-container {
    width: 50%;
    text-align: center;
}
  .button-container--text {
    font-size: 1.500rem;
    text-align: center;
  }
  
  
  .header{
	margin:auto;
	background-color: rgba(0, 0, 0, 0.78);
	color: white;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.terms{
	display:inline-block;
}
.definitions{
	display:inline-block;
	padding-left:20px;
}

.content{
	margin:auto;
	margin-top:200px;
	background-color: rgba(0, 0, 0, 0.78);
	color: white;
	padding-top:100px;
	padding-bottom:20px;
}
.termDiv{
	display:inline-block;
}
.termText{
	
}
.defDiv{
	display:inline-block;
}
.defText{
	
}
}
